<h2>Create Your Character</h2>
<!-- Name Input -->
<form>
<mat-form-field>
  <mat-label>Name</mat-label>
  <input matInput #name (keyup)="setName(name.value)" type="text">
</mat-form-field>

<!-- Essence Selection -->
<div>
  <mat-form-field>
    <mat-label>Starting Essence</mat-label>
    <mat-select #select (selectionchange)="setSelection(select.value)">
      @for (essence of availableEssences(); track essence) {
        <mat-option [value]="essence">{{ essence }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<!-- Create Button -->
<div>
  <button matButton="filled" (click)="createCharacter()">Create Character</button>
</div>
</form>
