<mat-card class="character-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title><!--{{ character.name }}--></mat-card-title>
      <mat-card-subtitle><!--Rank: {{ character.rank }}--></mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
    <h3>Attributes</h3>
    <div class="attribute-container">
      <div class="attribute-item">Speed</div>
      <div class="attribute-item">Power</div>
      <div class="attribute-item">Recovery</div>
      <div class="attribute-item">Spirit</div>
    </div>
  <mat-card-content>

  </mat-card-content>
</mat-card>
